%h1 Nutrients

= render partial: 'nutrients/actions', locals: { nutrient: @nutrient }

%h2
  = number_with_delimiter(@num_records, :delimiter => ',') + ' Nutrients'

= render partial: 'nutrients/table', locals: { nutrients: @nutrients }
