%h1 Nutrients

= render partial: 'nutrients/actions', locals: { nutrient: @nutrient }

.row.no-pad.justify-content-between
  .col-4
    %h2
      = number_with_delimiter(@num_records, :delimiter => ',') + ' Nutrients'
  .col-4
    = render partial: 'partials/search'

= render partial: 'nutrients/table', locals: { nutrients: @nutrients }
