.row
  .col
    = form_tag(request.path, method: :get, class: 'form-inline') do
      = text_field_tag(:search, params[:search], placeholder: 'search...', class: "form-control")
      = submit_tag "Search", class: 'btn btn-secondary', id: 'search-button'
