- if users && users.size > 0
  %table.table
    %thead
      %tr
        %th ID
        %th Username
    %tbody
      - users.each do |user|
        %tr
          %td
            = user.id
          %td
            = link_to user.username, user_path(user)
- else
  %p.lead No Users Available


