%h1 Ingredients

= render partial: 'ingredients/actions', locals: { ingredient: @ingredient }

= render partial: 'partials/search'

= render partial: 'ingredients/table', locals: { ingredients: @ingredients }

= will_paginate @ingredients, renderer: WillPaginate::ActionView::BootstrapLinkRenderer
