- if text && text.strip != ""
  .shadow.p-3.mb-5.bg-white.rounded
    %p.text-monospace
      = text
- else
  .shadow.p-3.mb-5.bg-white.rounded
    %p.text-monospace
      = I18n.t('string_requests.empty_string')
